<h1>hello to {{title}}</h1>



<!--
    <button (click)="countValue(mytext.value)">countV</button>
    <input type="text" #mytext>
-->
<br/>
name:<input type="text" #name>
<br>
price:<input type="text" #price>
<button (click)="calcul(name.value,price.value)">OK</button>
<br>
list of products:
    <ul>
        <li *ngFor="let item of listProducts">
               {{item.name}}  // {{item.price}}
         </li>
    </ul>

    <input type="text" (change)=filterProducts($event)>

    <button (click)=filterProducts()>filter</button>

